.show {
    display: block;
}

.hide {
    display: none;
}

/* -------------------------------- Animation ------------------------------- */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

.menu .container {
    flex-wrap: wrap;
}

.menu__item {
    min-height: 487px;
    margin-bottom: 20px;
}

/* --------------------------- slider dots styles --------------------------- */
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.dot {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 9px;
    height: 9px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-radius: 50%;
    opacity: .5;
    transition: opacity .6s ease;
}